##  *--<Preface>--*  ##

#=-  Author Details  -=#
#  Blair Edwards
#  Personal Project

#=-  Part Of  -=#
#second-pair/klipper-rigger

#=-  Notes  -=#
#  Bed levelling with a BLTouch probe.
#  I had Marlin set up to probe as close to the bed edge as possible.  In hindsight, I think I want a bit more margin; but still not a lot.
#  Consider having a probe-fade section with 'fade_start', 'fade_end'.
#  Consider bicubic algorithm instead of lagrange.

##  *--</Preface>--*  ##




##  *--<Main Config>--*  ##

[bltouch]
sensor_pin:  gpio22
control_pin:  gpio29
x_offset:  -43.1
y_offset:  -4.1
z_offset:  3.02
speed:  10
samples:  2
samples_tolerance:  0.02
samples_tolerance_retries:  5  #  RatRig set this at 10, but I've never see it get close when there hasn't been an actual problem.

#  Probe config for constructing a bed mesh.
[bed_mesh]
mesh_min:  20, 20
mesh_max:  200, 200
probe_count:  3, 3  #!  Increase to 15, 15 l0ater.

#  Tilt the existing mesh to the current profile of the bed, as measured using a 3-point probe.
[bed_tilt]
speed:  60
points:
	0, 0  #  0, 0
	189.9, 0  #  233 - 43.1, 0
	94.95, 209  #  0 + (233 - 43.1 - 0)/2, 219 - 10

#!  Location of the bed leveling screws.
#[bed_screws]

#!  Adjust the printer's skew.
#[skew_correction]

##  *--<Main Config>--*  ##

#!  Turn the probe light off.

#define XY_PROBE_FEEDRATE (300*60)
#define Z_PROBE_FEEDRATE_FAST (120*60)
#define Z_PROBE_FEEDRATE_SLOW (10*60)
#define PROBING_MARGIN 0
#define LEVELING_NOZZLE_TEMP 160   // (°C) Only applies to E0 at this time
#define LEVELING_BED_TEMP     60
#define Z_SAFE_HOMING_X_POINT X_MIN_POS + (X_BED_SIZE / 2)    // X point for Z homing
#define Z_SAFE_HOMING_Y_POINT Y_MIN_POS + (Y_BED_SIZE / 2)    // Y point for Z homing
#define GRID_MAX_POINTS_X 15      // Don't use more than 15 points per axis, implementation limited.

#define PROBE_PT_1_X X_MIN_POS
#define PROBE_PT_1_Y Y_MIN_POS
#define PROBE_PT_2_X X_MAX_POS - 43.1
#define PROBE_PT_2_Y Y_MIN_POS
#define PROBE_PT_3_X X_MIN_POS + (X_MAX_POS - 43.1 - X_MIN_POS) / 2
#define PROBE_PT_3_Y Y_MAX_POS - 10

#//  Offsets measured by eye.
#define MESH_MIN_X X_MIN_POS + 1
#define MESH_MIN_Y Y_MIN_POS + 4.5
#define MESH_MAX_X X_MAX_POS - 43.1  //  I don't know if this is a coincidence or not...
#define MESH_MAX_Y Y_MAX_POS - 10
